@model CaoLendario.Models.Animal


@{
    ViewData["Title"] = "Dados do Animal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-view">
    <h3>@ViewBag.Title</h3>
    <div class="container-animal">
        <div class="dados-animal grid-7">
            <div class="head-animal">
                <p>@Model.AnimalID.ToString("00000") - @Model.NomeAnimal</p>
            </div>
            <div class="img-animal grid-6">
                <img src="@Model.UrlFoto" />
            </div>
            <div class="grid-6 descricao-animal">
                <div class="box-descricao">
                    <p>Nascimento</p>
                    <input readonly type="text" value="@Model.Nascimento.ToString("dd/MM/yyyy")" />
                </div>
                <div class="box-descricao">
                    <p>Sexo</p>
                    <input readonly type="text" value="@Model.Sexo" />
                </div>
                <div class="box-descricao">
                    <p>Peso(KG)</p>
                    <input readonly type="text" value="@Model.Peso" />
                </div>
                <div class="box-descricao">
                    <p>Tipo de pelo</p>
                    <input readonly type="text" value="@Model.TipoPelagem" />
                </div>
                <div class="box-descricao">
                    <p>Porte</p>
                    <input readonly type="text" value="@Model.Porte" />
                </div>
                <div class="box-descricao">
                    <p>Temperamento</p>
                    <input readonly type="text" value="@Model.Temperamento" />
                </div>
                <div class="box-descricao">
                    <p>Gosta de Brincar?</p>
                    @if (Model.GostaBrincar.ToString() == "True")
                    {
                        <input readonly type="text" value="Sim" />
                    }
                    else if (Model.RelacionaOutroCao.ToString() == "False")
                    { <input readonly type="text" value="Não" />}
                </div>
                <div class="box-descricao">
                    <p>Pode conviver com outro cão?</p>
                    @if (Model.RelacionaGato.ToString() == "True")
                    {
                        <input readonly type="text" value="Sim" />
                    }
                    else if (Model.RelacionaGato.ToString() == "False")
                    { <input readonly type="text" value="Não" />}
                </div>
                <div class="box-descricao">
                    <p>Pode conviver com gato?</p>
                    @if (Model.RelacionaGato.ToString() == "True")
                    {
                        <input readonly type="text" value="Sim" />
                    }
                    else if (Model.RelacionaGato.ToString() == "False")
                    { <input readonly type="text" value="Não" />}
                </div>
                <div class="box-descricao">
                    <p>Possui deficiencia?</p>
                    @if (Model.PossuiDeficiencia.ToString() == "True")
                    {
                        <input readonly type="text" value="Sim" />
                    }
                    else if (Model.PossuiDeficiencia.ToString() == "False")
                    { <input readonly type="text" value="Não" />}
                </div>
                <div class="box-descricao">
                    <p>Histórico</p>
                    <input readonly type="text" value="@Model.HistoricoVida" />
                </div>
            </div>
        </div>
        <div class="dados-animal grid-5">
            <div class="head-animal">
                <p>Status: </p>
            </div>
        </div>
    </div> <br />
    <div class="container-animal">
        <div class="dados-animal grid-12">
            <div class="head-animal">
                <p>
                    Procedimentos:
                    <select>
                        <option>Pre Adoção</option>
                        <option>Pós Adoção</option>
                    </select>
                </p>
            </div>
        </div>
    </div>
</section>